@model PMT.Models.Technicien
@{
    ViewData["Title"] = "Profil";
    int nb = 1;
}
<!--arrow-left-square-->

<div class="col-xl-8" style="margin:auto">

    <div class="card">
        <div class="card-body pt-3">

            <!-- Profile Edit Form -->
            <form>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Nom</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Nom</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Postnom</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Postnom</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Prenom</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Titre</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Titre</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Username</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">E - mail</label>
                    <div class="col-md-8 col-lg-9">
                        <label class="col-md-4 col-lg-9 col-form-label">@Model.Mail</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Nombre d'affectation</label>
                    <div class="col-md-8 col-lg-9">
                        @if (Model.Affectations.Count == 0)
                        {

                            <label class="col-md-4 col-lg-9 col-form-label">Aucune affection</label>
                        }
                        else
                        {

                            <label class="col-md-4 col-lg-9 col-form-label">@Model.Affectations.Count()</label>
                        }
                    </div>
                </div>

                <div class="text-center">
                    <a asp-controller="Technicien" asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-right-square"></i></a>
                </div>
            </form><!-- End Profile Edit Form -->

            @if (Model.Affectations.Count != 0)
            {
                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Début</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Priorité</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Affectations)
                        {
                            <tr>
                                <th scope="row">@nb</th>
                                <td>@Html.DisplayFor(i => item.Tache.Nom)</td>
                                <td>@Html.DisplayFor(i => item.Tache.Date_Debut.ToShortDateString())</td>
                                <td>@Html.DisplayFor(i => item.Tache.Date_Fin.ToShortDateString())</td>
                                <td>@Html.DisplayFor(i => item.Tache.Statut)</td>
                                <td>@Html.DisplayFor(i => item.Tache.Priorite)</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a asp-controller="Tache" asp-action="Delete" asp-route-id="@item.Tache.ID" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                        <a asp-controller="Tache" asp-action="Edit" asp-route-id="@item.Tache.ID" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.Tache.ID" class="btn btn-success"><i class="bi bi-info-circle"></i></a>
                                    </div>
                                </td>
                            </tr>
                            nb++;
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->
            }
        </div>
    </div>

</div>