@model Tache
@{
    ViewData["Title"] = "Suppression";
}
<!--arrow-left-square-->
<br />
<br />
<br />

<div class="col-xl-5" style="margin:auto">

    <div class="card">
        <div class="card-body pt-3">

            <!-- Profile Edit Form -->
            <form asp-action="Delete" method="post" novalidate>
                <div class="text-center">
                    <h4>Supprimer la tâche</h4>
                    <div class="pt-2">
                        <a asp-controller="Tache" asp-action="Details" asp-route-id="@ViewBag.IdParent" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i></a>
                        <a asp-controller="Tache" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <br />
                
                <div class="x_content">
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Progression)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            <div class="progress progress_sm">
                                @if(Model.Progression <= 25)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                }
                                else if(Model.Progression <= 50)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                }
                                else if(Model.Progression <= 75)
                                {
                                    <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                }
                                else if(Model.Progression <= 100)
                                {
                                    <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                }
                            </div>
                            <span>@Model.Progression %</span>
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.SousTaches)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.SousTaches.Count)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Date_Debut)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Date_Fin)
                        </dd>
                    </dl>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form><!-- End Profile Edit Form -->
        </div>
    </div>
</div>