@model SousTache
@{
    ViewData["Title"] = "Detail";
    int nb = 1;
}
<!-------->
<div class="row">
    <div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
        <h2>Detail de la tâche</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <div class="row">
            <div class="col-sm-12 mail_view">
            <div class="inbox-body">
              <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Detail <small>Tâche principale</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        @if(Model.CreateurTache == User.Identity.Name)
                        {             
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-xs collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="btn btn-outline-secondary btn-xs collapse-link close-link"><i class="fa fa-close"></i></a>
                                <a asp-controller="Tache" asp-action="Edit" asp-route-id="@Model.Tache.ID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i></a>
                                <a asp-controller="Tache" asp-action="Delete" asp-route-id="@Model.Tache.ID" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash"></i></a>
                            </div>
                        }
                        else
                        {             
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-xs collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="btn btn-outline-secondary btn-xs collapse-link close-link"><i class="fa fa-close"></i></a>
                            </div>
                        }
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      
                    <!-- Profile Edit Form -->
                    <form>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Nom</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Tache.Nom</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Description</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Tache.Description</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Type</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Tache.Type</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Date début</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Tache.Date_Debut</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Date finale</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Tache.Date_Fin</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Progression</label>
                            <div class="col-md-4 col-lg-9 col-form-label">
                                <div>
                                    <div class="progress progress_sm">
                                        @if(Model.Tache.Progression <= 25)
                                        {
                                            <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@Model.Tache.Progression"></div>
                                        }
                                        else if(Model.Tache.Progression <= 50)
                                        {
                                            <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@Model.Tache.Progression"></div>
                                        }
                                        else if(Model.Tache.Progression <= 75)
                                        {
                                            <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@Model.Tache.Progression"></div>
                                        }
                                        else if(Model.Tache.Progression == 100)
                                        {
                                            <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@Model.Tache.Progression"></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- End Profile Edit Form -->
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Detail <small>Sous tâche</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        @if(Model.CreateurTache == User.Identity.Name)
                        {             
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-xs collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="btn btn-outline-secondary btn-xs collapse-link close-link"><i class="fa fa-close"></i></a>
                                <a asp-controller="Tache" asp-action="Details" asp-route-id="@Model.TacheID" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i></a>
                                <a asp-controller="Tache" asp-action="EditSousTache" asp-route-id="@Model.ID" asp-route-Tacheid="@Model.TacheID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i></a>
                                <a asp-controller="Tache" asp-action="DeleteSousTache" asp-route-id="@Model.ID" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash"></i></a>
                            </div>
                        }
                        else
                        {             
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary btn-xs collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="btn btn-outline-secondary btn-xs collapse-link close-link"><i class="fa fa-close"></i></a>
                                <a asp-controller="Tache" asp-action="Details" asp-route-id="@Model.TacheID" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i></a>
                            </div>
                        }
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      
                    <!-- Profile Edit Form -->
                    <form>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Nom</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Nom</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Description</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Description</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Type</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Type</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Priorité</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Priorite</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Statut</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Statut</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Date début</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Date_Debut</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Date finale</label>
                            <div class="col-md-8 col-lg-9">
                                <label class="col-md-4 col-lg-9 col-form-label">@Model.Date_Fin</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Progression</label>
                            <div class="col-md-4 col-lg-9 col-form-label">
                                <div>
                                    <div class="progress progress_sm">
                                        @if(Model.Progression <= 25)
                                        {
                                            <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                        }
                                        else if(Model.Progression <= 50)
                                        {
                                            <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                        }
                                        else if(Model.Progression <= 75)
                                        {
                                            <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                        }
                                        else if(Model.Progression == 100)
                                        {
                                            <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@Model.Progression"></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- End Profile Edit Form -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /CONTENT MAIL -->
        </div>
        </div>
    </div>
    </div>
</div>