@model SousTache
@{
    ViewData["Title"] = "Detail";
    int nb = 1; int progression = (int)Model.Progression;int poids = (int)Model.Poids;
}

<!-------->
<div class="row">
    <div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
        <h2>Detail de la tâche</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <div class="btn-group">
                    <a asp-controller="SousTache" asp-action="Create" asp-route-id="@Model.ID"  class="btn btn-primary text-light">Ajouter une sous-tâche</a>
                    <a class="btn btn-outline-secondary btn-xs collapse-link"><i class="fa fa-chevron-up"></i></a>
                    <a class="btn btn-outline-secondary btn-xs collapse-link close-link"><i class="fa fa-close"></i></a>
                    <a asp-controller="Tache" asp-action="Details" asp-route-id="@Model.TacheID" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i></a>
                    <a asp-controller="Tache" asp-action="EditSousTache" asp-route-id="@Model.ID" asp-route-Tacheid="@Model.TacheID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-controller="Tache" asp-action="DeleteSousTache" asp-route-id="@Model.ID" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <section class="content invoice">
                <!-- info row -->
                <div class="row invoice-info col-xl-6" style="margin:auto">
                    <!-- /.col -->
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Nom :</b> @Model.Nom</td>
                                <td><b>Responsable :</b> @Model.ResponsableTache </td>
                                <td><b>Progression :</b> </td>
                            </tr>
                            <tr>
                                <td><b>Type :</b> @Model.Type</td>
                                <td><b>Créateur :</b> @Model.CreateurTache</td>
                                <td>
                                    <div class="progress progress_sm">
                                        @if(Model.Progression <= 25)
                                        {
                                            <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@progression"></div>
                                        }
                                        else if(Model.Progression <= 50)
                                        {
                                            <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@progression"></div>
                                        }
                                        else if(Model.Progression <= 75)
                                        {
                                            <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@progression"></div>
                                        }
                                        else if(Model.Progression <= 100)
                                        {
                                            <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@progression"></div>
                                        }
                                    </div>
                                    @{
                                        progression = (int)Model.Progression;
                                    }
                                    <span>@progression %</span>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Début :</b> @Model.Date_Debut.Day / @Model.Date_Debut.Month / @Model.Date_Debut.Year </td>
                                <td colspan="2"><b>Fin :</b> @Model.Date_Fin.Day / @Model.Date_Fin.Month / @Model.Date_Fin.Year</td>
                            </tr>
                            <tr>
                                <td><b>Description :</b> </td>
                                <td colspan="3">@Model.Description</td>
                            </tr>
                        </tbody>
                    </table>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        <div class="row">
            <!-- CONTENT MAIL -->
            <div class="col-sm-12 mail_view">
            <div class="inbox-body">
                <div class="view-mail">
                    <br />
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <p class="text-muted font-13 m-b-30">Les sous-tâches</p>
                                        <!-- Table with stripped rows -->
                                        <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Responsable</th>
                                                <th scope="col">Déscription</th>
                                                <th scope="col">Début</th>
                                                <th scope="col">Fin</th>
                                                <th scope="col">Statut</th>
                                                <th scope="col">Poids</th>
                                                <th scope="col">Progression</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.SousTaches.Count != 0)
                                            {
                                                nb = 1;
                                                @foreach (var item in Model.SousTaches)
                                                {
                                                    progression = (int)item.Progression;
                                                    poids = (int)item.Poids;
                                                    <tr>
                                                        <th scope="row">@nb</th>
                                                        <td>@Html.DisplayFor(i => item.Nom)</td>
                                                        <td>@Html.DisplayFor(i => item.ResponsableTache)</td>
                                                        <td>@Html.DisplayFor(i => item.Description)</td>
                                                        <td>@item.Date_Debut.Day / @item.Date_Debut.Month / @item.Date_Debut.Year</td>
                                                        <td>@item.Date_Fin.Day / @item.Date_Fin.Month / @item.Date_Fin.Year</td>
                                                        <td>@Html.DisplayFor(i => item.Statut)</td>
                                                        <td>@poids %</td>
                                                        <td class="project_progress">
                                                            <div class="progress progress_sm">
                                                                @if(item.Progression <= 25)
                                                                {
                                                                    <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@progression"></div>
                                                                }
                                                                else if(item.Progression <= 50)
                                                                {
                                                                    <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@progression"></div>
                                                                }
                                                                else if(item.Progression <= 75)
                                                                {
                                                                    <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@progression"></div>
                                                                }
                                                                else if(item.Progression <= 100)
                                                                {
                                                                    <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@progression"></div>
                                                                }
                                                            </div>
                                                            <span>@progression %</span>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                                <a asp-controller="SousTache" asp-action="Detail" asp-route-id="@item.ID" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> </a>
                                                                <a asp-controller="SousTache" asp-action="Update" asp-route-id="@item.ID" asp-route-idParent="@item.SousTacheID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i></a>
                                                                <a asp-controller="SousTache" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    nb++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="8">Aucune sous tâche</td>
                                                </tr>
                                            }
                                        </tbody>
                                        </table>
                                        <!-- End Table with stripped rows -->
                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Commentaire-->
            <div class="col-sm-6 mail_list_column" style="margin:auto">
            <button id="compose" class="btn btn-sm btn-success btn-block" type="button">Ajouter un commentaire</button>
            @if(Model.Commentaires.Count != 0)
            {
                foreach (var item in Model.Commentaires)
                {
                    <a>
                        <div class="mail_list">
                        <div class="left">
                            <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                        </div>
                        <div class="right">
                            <h3>@item.UserPost <small>@item.Date_Post</small></h3>
                            <p class="Text-truncate">/ @item.Note</p>
                        </div>
                        </div>
                    </a>
                }
            }
            else
            {
                <a>
                    <div class="mail_list">
                    <div class="left">
                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                    </div>
                    <div class="right">
                        <h3>Aucun commentaire</h3>
                    </div>
                    </div>
                </a>
            }
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- compose -->
<div class="compose col-md-4  ">
    <div class="compose-header">
    Nouveau commentaire
    <button type="button" class="close compose-close">
        <span>×</span>
    </button>
    </div>

    <div class="compose-body">
    <div id="alerts"></div>
    <br />
    <form asp-action="AddNote" method="get" novalidate>
        <input type="hidden" name="idSousTache" value="@Model.ID" />
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">  Commentaire</label>
            <div class="col-md-8 col-lg-9">
                <textarea name="commetaire" class="form-control" id="about" required style="height: 100px"></textarea>
            </div>
        </div>
        <div class="compose-footer">
            <button class="btn btn-sm btn-success" type="submit">Poster</button>
        </div>
    </form>
</div>
<!-- /compose -->   