@model IEnumerable<PMT.Models.Tache>
@{
    ViewData["Title"] = "Liste";
    int nb = 1;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Taches</h5>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Priorité</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Date debut</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Techniciens</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@nb</th>
                    <td>@Html.DisplayFor(i => item.Description)</td>
                    <td>@Html.DisplayFor(i => item.Type)</td>
                    <td>@Html.DisplayFor(i => item.PrioriteID)</td>
                    <td>@Html.DisplayFor(i => item.StatutID)</td>
                    <td>@Html.DisplayFor(i => item.Date_Debut)</td>
                    <td>@Html.DisplayFor(i => item.Date_Fin)</td>
                    @if (item.Affectations.Count() == 0)
                    {
                        <td>Aucune affectation</td>
                    }
                    else
                    {
                        <td>@item.Affectations.Count</td>
                    }
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a asp-controller="Tache" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            <a asp-controller="Tache" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.ID" class="btn btn-success"><i class="bi bi-info-circle"></i></a>
                        </div>
                    </td>
                </tr>
                    nb++;
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>