@model IEnumerable<Tache>
@{
    ViewData["Title"] = "Tâches";
}

<h1>Les tâches</h1>

<div class="col-xl-10" style="margin:auto">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des <small>tâches</small></h2>
            <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
            <li>
                <a asp-action="Create" class="btn btn-outline-success btn-xs"><i class="fa fa-plus"></i>nouvelle</a>
            </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                @foreach(var item in Model)
                {
                    <li>
                        <div class="block">
                        <div class="tags">
                            <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.ID" class="tag">
                            <span>Details</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>@item.Nom</a>
                            </h2>
                            <div class="byline">
                            <span>Deadline : @item.Deadline </span>, créée par <a>@item.CreateurTache</a>
                            </div>
                            <p class="excerpt">@item.Description
                            </p>
                            
                            <div class="progress">
                                @if(item.Etat >= 90)
                                {
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @item.ColorEtat" aria-valuenow="@item.Etat" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else if(item.Etat >= 70)
                                {
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @item.ColorEtat" aria-valuenow="@item.Etat" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else if(item.Etat >= 50)
                                {
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.ColorEtat" aria-valuenow="@item.Etat" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else if(item.Etat >= 25)
                                {
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @item.ColorEtat" aria-valuenow="@item.Etat" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else
                                {
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: @item.ColorEtat" aria-valuenow="@item.Etat" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                            </div>
                        </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
