@model IEnumerable<Tache>
@{
    ViewData["Title"] = "Tâches";
    int nb = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div style="margin:auto">
                <h1>Les tâches</h1>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des <small>tâches</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li class="text-dark">
                            <a asp-action="Create" class="btn btn-success btn-xs text-dark"><i class="fa fa-plus"></i>  nouvelle</a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    
                  <div class="x_content">

                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Toutes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Terminé</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Non terminé</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- start tache list -->
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">Les sous-tâches</p>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">Déscription</th>
                                    <th scope="col">Sous-Tâches</th>
                                    <th scope="col">Début</th>
                                    <th scope="col">Fin</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Progression</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    nb = 1;
                                }
                                @if (Model.Count() != 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@nb</th>
                                            <td>@Html.DisplayFor(i => item.Nom)</td>
                                            <td>@Html.DisplayFor(i => item.ResponsableTache)</td>
                                            <td>@Html.DisplayFor(i => item.Description)</td>
                                            <td>@item.SousTaches.Count</td>
                                            <td>@item.Date_Debut.Day / @item.Date_Debut.Month / @item.Date_Debut.Year</td>
                                            <td>@item.Date_Fin.Day / @item.Date_Fin.Month / @item.Date_Fin.Year</td>
                                            <td>@Html.DisplayFor(i => item.Statut)</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    @if(item.Progression <= 25)
                                                    {
                                                        <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 50)
                                                    {
                                                        <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 75)
                                                    {
                                                        <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 100)
                                                    {
                                                        <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                </div>
                                                <span>@item.Progression %</span>
                                            </td>
                                            <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-xs"><i class="fa fa-folder"></i> Detail </a>
                                            </div>
                                            </td>
                                        </tr>
                                        nb++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">Aucune sous tâche</td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                        <!-- end tache list -->
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- start tache list -->
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">Les sous-tâches</p>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">Déscription</th>
                                    <th scope="col">Sous-Tâches</th>
                                    <th scope="col">Début</th>
                                    <th scope="col">Fin</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Progression</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    nb = 1;
                                }
                                @if (Model.Count() != 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        if(item.Progression == 100)
                                        {
                                            <tr>
                                            <th scope="row">@nb</th>
                                            <td>@Html.DisplayFor(i => item.Nom)</td>
                                            <td>@Html.DisplayFor(i => item.ResponsableTache)</td>
                                            <td>@Html.DisplayFor(i => item.Description)</td>
                                            <td>@item.SousTaches.Count</td>
                                            <td>@item.Date_Debut.Day / @item.Date_Debut.Month / @item.Date_Debut.Year</td>
                                            <td>@item.Date_Fin.Day / @item.Date_Fin.Month / @item.Date_Fin.Year</td>
                                            <td>@Html.DisplayFor(i => item.Statut)</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    @if(item.Progression <= 25)
                                                    {
                                                        <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 50)
                                                    {
                                                        <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 75)
                                                    {
                                                        <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 100)
                                                    {
                                                        <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                </div>
                                                <span>@item.Progression %</span>
                                            </td>
                                            <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-xs"><i class="fa fa-folder"></i> Detail </a>
                                            </div>
                                            </td>
                                        </tr>
                                        }
                                        nb++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">Aucune sous tâche</td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                        <!-- end tache list -->
                      </div>
                      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- start tache list -->
                        
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">Les sous-tâches</p>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">Déscription</th>
                                    <th scope="col">Sous-Tâches</th>
                                    <th scope="col">Début</th>
                                    <th scope="col">Fin</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Progression</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    nb = 1;
                                }
                                @if (Model.Count() != 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        if(item.Progression < 100)
                                        {
                                            <tr>
                                            <th scope="row">@nb</th>
                                            <td>@Html.DisplayFor(i => item.Nom)</td>
                                            <td>@Html.DisplayFor(i => item.ResponsableTache)</td>
                                            <td>@Html.DisplayFor(i => item.Description)</td>
                                            <td>@item.SousTaches.Count</td>
                                            <td>@item.Date_Debut.Day / @item.Date_Debut.Month / @item.Date_Debut.Year</td>
                                            <td>@item.Date_Fin.Day / @item.Date_Fin.Month / @item.Date_Fin.Year</td>
                                            <td>@Html.DisplayFor(i => item.Statut)</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    @if(item.Progression <= 25)
                                                    {
                                                        <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 50)
                                                    {
                                                        <div class="progress-bar bg-warning" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 75)
                                                    {
                                                        <div class="progress-bar bg-info" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                    else if(item.Progression <= 100)
                                                    {
                                                        <div class="progress-bar bg-success" role="progressbar" data-transitiongoal="@item.Progression"></div>
                                                    }
                                                </div>
                                                <span>@item.Progression %</span>
                                            </td>
                                            <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-xs"><i class="fa fa-folder"></i> Detail </a>
                                            </div>
                                            </td>
                                        </tr>
                                        }
                                        nb++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">Aucune sous tâche</td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                        <!-- end tache list -->
                      </div>
                    </div>
                  </div>
                    <div class="x_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>