@model Technicien
@{
    ViewData["Title"] = "Delete";
}
<!--arrow-left-square-->

<h1>Informations sur le technicien</h1>

<div class="col-xl-8" style="margin:auto">
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    
                    <form asp-action="Delete" method="post" novalidate>
                        <dl class="row">
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Nom)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Nom)
                            </dd>
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Postnom)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Postnom)
                            </dd>
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Prenom)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Prenom)
                            </dd>
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Titre)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Titre)
                            </dd>
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Username)
                            </dd>
                            <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>
                            <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Password)
                            </dd>
                        </dl>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>