@model Technicien
@{
    ViewData["Title"] = "Detail";
    int nb = 1;
}

<h1>Informations sur le technicien</h1>

<div class="col-xl-8" style="margin:auto">
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.ID)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Postnom)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Postnom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Prenom)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Prenom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Titre)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Titre)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                    </dl>

                    <div class="text-center">
                        <a class="btn btn-outline-info"  asp-action="Edit" asp-route-id="@Model.ID">Modification</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Datatables -->

<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<h2>Les Tâches affectées</h2>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-route-id="@Model.ID" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> Nouvelle</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom</th>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Priorité</th>
                                        <th>Stqtut</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @if (Model.Affectations.Count() < 1)
                                    {
                                        <tr>
                                            <td colspan="7">Aucune tâche affectée !</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.Affectations)
                                        {
                                            <tr>
                                                <td>@nb</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tache.Nom)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tache.Date_Debut)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tache.Date_Fin)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tache.Priorite)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tache.Statut)
                                                </td>
                                                <td style="text-align:center">
                                                    <a asp-controller="Tache" asp-action="Details" asp-route-id="@item.Tache.ID" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> </a>
                                                    <a asp-controller="Tache" asp-action="Edit" asp-route-id="@item.Tache.ID" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                                    <a asp-controller="Tache" asp-action="Delete" asp-route-id="@item.Tache.ID" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
                                                </td>
                                            </tr>
                                            
                                            nb++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
