@model IEnumerable<PMT.Models.Technicien>
@{
    ViewData["Title"] = "Liste";
    int nb = 1;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Datatables</h5>
        <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Username</th>
                    <th scope="col">E - mail</th>
                    <th scope="col">Affectations</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@nb</th>
                        <td>@Html.DisplayFor(i => item.AllName)</td>
                        <td>@Html.DisplayFor(i => item.Titre)</td>
                        <td>@Html.DisplayFor(i => item.Username)</td>
                        <td>@Html.DisplayFor(i => item.Mail)</td>
                        @if (item.Affectations.Count() == 0)
                        {
                            <td>Aucune affectation</td>
                        }
                        else
                        {
                            <td>@item.Affectations.Count</td>
                        }

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a asp-controller="Technicien" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                <a asp-controller="Technicien" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="Technicien" asp-action="Details" asp-route-id="@item.ID" class="btn btn-success"><i class="bi bi-info-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                    nb++;
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>